<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">四则运算习题生成器</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> 主页
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="generator">
                <span class="oi oi-copywriting" aria-hidden="true"></span> 出题
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="settings">
                <span class="oi oi-cog" aria-hidden="true"></span> 设置
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="exercise">
                <span class="oi oi-pencil" aria-hidden="true"></span> 自测
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="wrongs">
                <span class="oi oi-spreadsheet" aria-hidden="true"></span> 错题集
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="statist">
                <span class="oi oi-bar-chart" aria-hidden="true"></span> 统计
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="about">
                <span class="oi oi-info" aria-hidden="true"></span> 关于
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
